
.form-button {
	width: 120px;
	cursor: pointer;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid rgb(50, 53, 226);
	margin: 10px;
	margin-left: auto;
	align-self: flex-end;
	font-size: 15px;
	color: white;
}

.create-button {
	width: 120px;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid rgb(50, 53, 226);
	margin: 30px 30px 0px 30px;
	padding: 10px;
	margin-left: auto;
	text-align: center;
	font-size: 15px;
	color: white;
}

.delete-button {
	margin-left: 20px;
	width: 100px;
	cursor: pointer;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid rgb(50, 53, 226);
	align-self: center;
	font-size: 15px;
	color: white;
}

.edit-button {
	width: 100px;
	cursor: pointer;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid rgb(50, 53, 226);
	text-align: center;
	font-size: 15px;
	color: white;
}