
.post-link {
	list-style-type: none;
	text-decoration: none;
}

.post-item {
	list-style-type: none;
	color: black;
	width: 300px;
	margin: 30px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	border: 1px solid rgba(0, 0, 0, 0.6);
}

.post-item-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.avatar {
	margin: 10px;
	width: 50px;
	height: 50px;
	border: 1px solid rgba(0, 0, 0, 0.29);
}

.post-item-name {
	text-decoration: underline;
	text-align: start;
	font-size: 20px;
	font-weight: 700;
	width: 100%;
	padding: 12px;
}

.wrapper-text {
	width: 100%;
}

.post-item-text, .post-item-date {
	overflow-wrap: break-word;
	font-size: 20px;
	padding: 10px;
}

.post-item-date {
	text-align: end;
	font-size: 10px; 
}