
.form {
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.form-newPost, .form-editPost {
	min-width: 300px;
	min-height: 150px;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid black;
}

.form-newPost:hover, .form-editPost:hover {
	border: 2px solid black;
}

.label-newPost, .label-editPost {
	width: 120px;
	font-size: 15px;
	color: blue;
	text-align: center;
	padding: 10px;
	margin: 10px;
	margin-right: auto;
	background-color: rgba(128, 128, 128, 0.203);
	border-radius: 10px;
	border: 1px solid black;
}

.form-newPost::placeholder, .form-editPost::placeholder{
	color: blue;
}
